@{
    ViewData["Title"] = "Home Page";
}

    <div class="main-header">
        <img src="~/images/cp-bread.jpg" alt="bread and water" />
        <h1>Sacrament Planner</h1>
    </div>
    <div class="flex-container">
            <div class="item home-pic">
                <img src="~/images/jesus.jpg" alt="sacrament" />
            </div>
            <div class="item">
                <h2>Make Life Easier</h2>
                <p>Take the hassle out of planning and formatting weekly announcements with the Sacrament Planner. Creating a program will only take minutes. The Sacrament Planner not only creates programs but stores all the members of your ward. Easily add new Hymns to be added to the program. Print the program right from the app. With the Sacrament Planner, creating a program each week will become a highlight.   </p>
                <h2>Get Started</h2>
                <p>Try it out <a asp-area="" asp-controller="Meetings" asp-action="Index">here</a></p>
            </div>
    </div>
