@{
    ViewData["Title"] = "Home Page";
}

    <div class="main-header">
        <img src="~/images/cp-bread.jpg" alt="bread and water" />
        <h1>Sacrament Planner</h1>
    </div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Sacrement Planner App</h2>
        <p>
            Some text is gonna go here
        </p>
    </div>
    <div class="col-md-4">
        <h2>Make your life easier</h2>
        <p>Easily plan your meetings by adding speakers, hymns, and prayers</p>
        
    </div>
    <div class="col-md-4">
        <h2>Give it a try</h2>
        <p>Try it out here <a asp-area="" asp-controller="Meetings" asp-action="Index">Meetings</a></p>
        </div>
</div>